<ion-view title="Contactos" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="contactos-form1" class="list">
            <label class="item item-input" id="contactos-input1">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="contactos-input2">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="contactos-textarea1">
                <span class="input-label">Mensaje</span><textarea placeholder=""></textarea>
            </label>
            <button id="contactos-button1" class="button button-positive  icon ion-android-send">Enviar</button>
        </form>
    </ion-content>
</ion-view>