<ion-view title="Online" id="page2">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <ion-list>
                <ion-item nav-clear="" menu-close="" ng-click="player()">
                <div class="leanback-player-audio" width="350px">
                    <audio preload="metadata" controls>
                        <!-- HTML5 <audio> sources -->
                        <!--<source src="./folder/audio.mp4" type='audio/mp4; codecs="mp4a.40.2"'/>-->
                        <source src="http://radio.unl.edu.ec:8080/stream" type='audio/mpeg'/>
                    </audio>
                </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>