<ion-view title="Quienes Somos" id="page3">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/zWYxWtPJTXq0LUN089VM_radiologo.png" width="100%" height="50" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="quienesSomos-heading1" style="color:#000000;"></h1>
        <div id="quienesSomos-markdown1" style="color:#000000;">
            <p>Radio Universitaria 98.5 es un medio de comunicación público de la Universidad Nacional de Loja, para comunicarse con la comunidad a través de la coordinación, cooperación, consulta, intercambio y promoción del arte, la ciencia, la cultura
                y el desarrollo de Loja y la Región Sur.</p>

            <p>En nuestros estudios se realizan producciones radiofónicas como son: mensajes, cuñas, grabaciones de CDS, promocionales, documentales, reportaje, jingles, y otros productos comunicacionales con tecnología de punta.</p>
        </div>
    </ion-content>
</ion-view>